body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* regular styles */

.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* hero section */

.hero-section {
    background-image: url('../images/bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 465px;
    margin-bottom: 40px;
    color: white;
    margin-top: 65px;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.281);
    height: 465px;
    width: 100%;
}

.hero-section h2 {
    font-size: 35px;
    margin: 0;
    font-weight: 800;
}

@font-face {
    font-family: pixafont;
    src: url(Rezland\ Logotype\ Font\ 400.ttf);
}

#logo {
    font-size: 45px;
    color: black;
    font-family: pixafont;
}

.nav {
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 65px;
}

#nav-buttons {
    gap: 10px;
}

#search-bar,
#search-bar2 {
    color: #65727e;
    border: none;
    border-radius: 30px;
    width: 60%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.111);
    justify-content: space-between;
}

#search-bar2 {
    background-color: white;
    width: 50%;
    padding: 20px;
}

#search-icon {
    gap: 12px;
}

#search-icon img:hover {
    cursor: pointer;
}

#all-images {
    gap: 12px;
}

#all-images:hover {
    cursor: pointer;
    /* background-color: rgba(128, 128, 128, 0.111);
border: none; */
}

.green-btn,
.light-btn,
.transparent-btn {
    color: #65727e;
    padding: 7px 14px;
    font-size: 16px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 600;
}

.green-btn {
    background-color: #14BC7D;
    border: none;
    gap: 5px;
    color: white;
}

.green-btn:hover {
    background-color: #26d293;
    cursor: pointer;
}

.light-btn {
    border: 1px solid #65727e76;
    color: black;
}

.light-btn:hover {
    border: 1px solid black;
    cursor: pointer;
}

.transparent-btn {
    gap: 5px;
}

.transparent-btn:hover {
    background-color: rgba(128, 128, 128, 0.111);
    cursor: pointer;
}


/* main section */

.main {
    width: 95%;
    margin: auto;
}


/* grid section */

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 200px 100px 100px 100px 200px 100px 100px 100px 200px 100px 100px 100px;
    gap: 10px;
}

.grid-item,
.grid-itemc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 1px solid green;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-itemc {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.grid-itemc:hover,
.grid-item:hover {
    cursor: pointer;
}

.grid-itemc:hover {
    scale: 1.01;
    transition: ease-in-out .5s;
}

.tall1 {
    grid-row: span 0.5;
}

.tall2 {
    grid-row: span 3;
}

.tall3 {
    grid-row: span 4;
}


/* images background */

.one {
    background-image: url('../images/img1.jpg');
}

.two {
    background-image: url('../images/img2.png');
}

.ten {
    background-image: url('../images/img10.jpg');
}